*, *::before, *::after {
  margin: 0;
  padding: 0;

  transition: all 300ms ease;
  /* debugging  */
  /* border: 1px solid red; */
  
  /* Default Font  */
}

:root {
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

section {
display: grid;
box-sizing: border-box;
place-items: center;
height: 96vh;
margin: 0 10rem;
font-size: 32px;
font-weight: bold;
min-height: fit-content;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  cursor: pointer;
  user-select: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p {
  color: rgb(85, 85, 85);
}

.row {
  display: flex;
}

.container {
  margin: 0 auto;
}