@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: .5rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

/* Mobile Styles */

@media (max-width: 768px) {
  .section_pic-container {
    width: 100%;
    height: auto;
  }

  .section_pic-container img {
    width: 100%;
    height: auto;
  }

  .section__text {
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .section__text__p1 {
    font-size: 18px;
  }

  .section__text__p2 {
    font-size: 16px;
  }

  .title {
    font-size: 26px;
  }

  section h3 {
    font-size: 20px;
  }

  section p {
    font-size: 16px;
  }

  .about-containers {
    display: flex;
    flex-direction: column;
  }

  .project-img  {
    height: fit-content !important;
    width: fit-content !important;
    align-items: center;
    border-radius: 0;
  }
}


/* Mobile Menu */
@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .hamburger-items {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    font-size: 14px; /* Increased font size for better readability */
    transition: max-height 0.3s ease-in-out;
    padding: 10px; /* Added padding for spacing */
  }

  .nav-links.open {
    max-height: 300px;
  }

  .nav-logo {
    margin-top: 2rem;
    align-self: center;
  }
  .hamburger-menu {
    display: inline-block;
    margin-left: 75px;
  }

  /* Adjust text color for better contrast */
  .nav-links a {
    color: #333;
  }
}
